<div>
            <img id="carImg" class="" src="/img/l1.png" onload="loader()"/>
        </div>
        <div class="row">
            <div class="offset-s1 col s10">
            <h2 class="header">Abstract</h2>
            <div class="divider"></div>
            <p>
                Modernisation has not just been confined to lifestyle. Technological breakthroughs and inventions have left no stone unturned, uplifting all spheres of sciences over the past few years. Biosensors is one such breakthrough. Biosensors, that combine the specificity and selectivity of biological systems with precision and agility of electronics, have the potential to be an innovative boon to a multitude of industries from biomedical to food based to even space exploration.<br>
Any biosensor has generally four major components: a core structure to hold all elements together, sensing elements to sense the target entity, a transducer to convert the sensed signal into a usable one and an output device to display the result to the user. Often these components have to be modified extensively as per the requirements of the specific target that is being sensed.<br>
Our team has proposed a universal design for biosensors, one which can be easily adapted to create a multitude of biosensors having diverse applications. Our nanobiosensor utilizes hollow mesoporous silica nanoparticles (HMSN) as our structural core with the signaling molecules made up of DNA Origami and fluorescent dyes trapped in the cavity of the HMSN aptamer based gates which block the pores of the HMSN. Sensing of target involves target's interaction with aptamer based gates which results in opening of pores and eventual release of signaling molecules. Detection is done by the techniques of FRET or fluorescence resonance energy transfer.  <br>
An ELISA plate based implementation of our Nano biosensor can create a high throughput bio sensing device.
Our universal design for a biosensor opens new avenues for further research in fabricating highly sensitive, modular, high throughput biosensors.
            </p>
</div>
</div>
        <div class="row center video-container no-controls" >
            <iframe width="853" height="480" src="https://www.youtube.com/embed/tsI8-NE1HYg?rel=0;autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>